
<% content_for :header do %>

<script type='text/javascript' src='js/Chart.min.js'></script>
<script type='text/javascript'>

_daily_data = <%== daily_data.to_json %>;

window.addEvent('load', function() {
	if($('weekly-chart').getStyle('display') == 'none') {
		return;
	}

	var data = [];
	var labels = [];

	for(var i=0; i < _daily_data.length -1; i++) {
		var day = _daily_data[i];
		data.push(parseFloat(day.revenue, 10));
		labels.push(day.day);
	}

	var ctx = $('weekly-chart').getContext('2d');
	var chart = new Chart(ctx).Line({
		labels: labels,
		datasets: [
			{
				fillColor : "rgba(255,153,50, 0.7)",
				strokeColor : "rgb(255,153,50)",
				data: data
			}
		]
	},
	{
		scaleStartValue: 0,
		barValueSpacing: 1,
		barStrokeWidth: 1
	});

});

var implement = function(obj, fnName, fn) {
	if(obj && fn && !obj.prototype[fnName]) {
		obj.prototype[fnName] = fn;
	}
}

implement(Object, 'implement', function(fnName, fn) { implement(this, fnName, fn); });
implement(Array, 'implement', function(fnName, fn) { implement(this, fnName, fn); });

Element.implement('getStyle', function(styleName) {
	if(this.currentStyle) {
		return this.currentStyle[styleName];
	} else {
		return window.getComputedStyle(this, null)[styleName];
	}
});

function addEvent(event, fn) {
    if (window.addEventListener) {
        window.addEventListener(event, fn, false);
    } else if (window.attachEvent) {
        window.attachEvent('on' + event, fn);
    }
}

var $ = function(id) {
	return document.getElementById(id);
}


</script>

<% end %>

<% content_for :body do %>

	<div class='so-counter-list'>

		<div class='so-counter-block'>
			<div class='so-counter'> $<%= month_count.round.commas %> </div>
			<div class='so-label'> last month <span class='so-rate'> ($<%= '%.2f' % month_rate %> / hr)</span> </div>
		</div>

		<div class='so-counter-block'>
			<div class='so-counter'> $<%= week_count.round.commas %> </div>
			<div class='so-label'> last week <span class='so-rate'> ($<%= '%.2f' % week_rate %> / hr)</span> </div>
		</div>

		<div class='so-counter-block last'>
			<div class='so-counter'> $<%= day_count.round.commas %> </div>
			<div class='so-label'> last 24 hrs <span class='so-rate'> ($<%= '%.2f' % day_rate %> / hr)</span> </div>
		</div>


		<div class='clear'></div>

	</div>

	<div class='clear'></div>

	<canvas id="weekly-chart" width="610" height="220"></canvas>

	<div class='clear'></div>

	<div class='block comments last'>
		<h2>Top Comments this Week</h2>
		<% 

		top_comments.each do |comment|
			thread_id = comment[:thread_id][3..-1]
			is_thread = thread_id == comment[:comment_id]

			if is_thread
				comment_link = "http://reddit.com/comments/#{thread_id}/"
			else
				comment_link = "http://reddit.com/comments/#{thread_id}/-/#{comment[:comment_id]}?context=1"
			end			
		%>
			<div class='comment'>
				<div class='head'>
					<div class='title'>
						<span class='user'> <a href='http://reddit.com/u/<%= comment[:user] %>'><%= comment[:user] %></a></span>
						<span class='gilded'><%= comment[:gold_count] %>&times;&#x2605;</span>
					</div>
					<div class='subreddit'>
						<a href='<%= "http://reddit.com/comments/#{thread_id}/" %>' title='<%= comment[:thread_title] %>'><%= comment[:thread_title].to_s.truncate(96, "...") %></a>
						<a href='/r/<%= comment[:subreddit] %>'>(/r/<%= comment[:subreddit] %>)</a>
					</div>
				</div>
				<div class='body'>
					<%= comment[:comment_text].to_s.truncate(256, "...") %>
					 <a class='more' href='<%= comment_link %>'>see more</a>
				</div>
			</div>
		<% end %>
	</div>

	<div class='clear'></div>

<!--
	<div class='block last' style='display:none'>

		<table>
			<thead>
				<tr>
					<td colspan='2'><h2>Top Subreddits</h2></td>
				</tr>
			</thead>

			<tbody>


			<tr>
				<td><?= $subreddit['subreddit'] ?></td>
				<td>$<?= number_format($subreddit['revenue']) ?></td>
			</tr>

			</tbody>
		</table>
	</div>

	
-->
<% end %>

<% content_for :footer do %>
	<p>data last updated <%= data_age.to_minutes.round %> minutes ago</p>
<% end %>
