
<!doctype html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>gold-counter - tracking revenue from reddit gold</title>

<link rel="stylesheet" href="css/base.css" type="text/css" media="screen, projection">

<script type='text/javascript' src='js/Chart.min.js'></script>
<script type='text/javascript'>

_daily_data = <%= dailyData.to_json %>;

window.addEvent('load', function() {
	var data = [];
	var labels = [];

	for(var i=0; i < _daily_data.length -1; i++) {
		var day = _daily_data[i];
		data.push(parseFloat(day.revenue, 10));
		labels.push(day.day);
	}

	var ctx = $('weekly-chart').getContext('2d');
	var chart = new Chart(ctx).Bar({
		labels: labels,
		datasets: [
			{
				fillColor : "rgba(255,153,50, 0.7)",
				strokeColor : "rgb(255,153,50)",
				data: data
			}
		]
	},
	{
		scaleStartValue: 0,
		barValueSpacing: 1,
		barStrokeWidth: 1
	});
});

function addEvent(event, fn) {
    if (window.addEventListener) {
        window.addEventListener(event, fn, false);
    } else if (window.attachEvent) {
        window.attachEvent('on' + event, fn);
    }
}

function $(id) {
	return document.getElementById(id);
}

</script>

</head>

<body>

<div class="wrapper">

<div class='so-header'>
	<div class='so-title'>
		<a href='/'><b >gold</b>counter</a>
		<div class='sub-title'>tracking revenues from <a href='http://www.reddit.com/gold/about'>reddit gold</a></div>
	</div>
</div>

<div class='so-body'>

	<div class='so-counter-list'>

		<div class='so-counter-block'>
			<div class='so-counter'> $<%= monthCount.round.commas %> </div>
			<div class='so-label'> last month <span class='so-rate'> ($<%= '%.2f' % monthRate %> / hr)</span> </div>
		</div>

		<div class='so-counter-block'>
			<div class='so-counter'> $<%= weekCount.round.commas %> </div>
			<div class='so-label'> last week <span class='so-rate'> ($<%= '%.2f' % weekRate %> / hr)</span> </div>
		</div>

		<div class='so-counter-block last'>
			<div class='so-counter'> $<%= dayCount.round.commas %> </div>
			<div class='so-label'> last 24 hrs <span class='so-rate'> ($<%= '%.2f' % dayRate %> / hr)</span> </div>
		</div>


		<div class='clear'></div>

	</div>

	<div class='clear'></div>

	<canvas id="weekly-chart" width="605" height="220"></canvas>

	<div class='clear'></div>

	<div class='block comments last'>
		<h2>Top Comments this Week</h2>
		<% 
		topComments.each do |comment|
			comment_link = "http://reddit.com/comments/#{comment[:thread_id][3..-1]}/-/#{comment[:comment_id]}?context=1"
		%>
			<div class='comment'>
				<div class='title'>
					<span class='user'> <a href='http://reddit.com/u/<%= comment[:user] %>'><%= comment[:user] %></a></span>
					<span class='gilded'><%= comment[:gold_count] %>&times;&#x2605;</span>
				</div>
				<div class='body'>
					<%= comment[:comment_text].to_s.truncate(256, "...") %>
					 <a class='more' href='<%= comment_link %>'>see more</a>
				</div>
			</div>
		<% end %>
	</div>
	
<!--
	<div class='block last' style='display:none'>

		<table>
			<thead>
				<tr>
					<td colspan='2'><h2>Top Subreddits</h2></td>
				</tr>
			</thead>

			<tbody>


			<tr>
				<td><?= $subreddit['subreddit'] ?></td>
				<td>$<?= number_format($subreddit['revenue']) ?></td>
			</tr>

			</tbody>
		</table>
	</div>

	<div class='clear'></div>
-->
</div>

<div class="push"></div>
</div>

<div class="footer">

	<div>
		<p>These numbers only include gifted gold, and don't take into account transaction fees etc.</p>
		<p>
			<a href='http://twitter.com/reednj'>Nathan Reed</a> (c) 2013 |

			<a href='http://reddit-stream.com'>reddit-stream.com</a>
		</p>
		<p>
			<a href='http://twitter.com/reednj'>@reednj</a> |
			<a href='http://github.com'>v1.02</a>
		</p>
	</div>

</div>

</body>
</html>
